name: MicroValidator
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.102
    - name: Build and Test
      run: dotnet test
    - name: Build and Pack
      run: dotnet pack ./MicroValidator --include-source --include-symbols --output ./packed
    - uses: actions/upload-artifact@v1
      with:
        name: MicroValidator
        path: ./MicroValidator/packed
    - name: Publish to Nuget
      run: dotnet nuget push **/*.symbols.nupkg
        --api-key ${{ secrets.NugetKey }}
        --source ${{ secrets.NugetSource }}